In [1]:
import pandas as pd

In [2]:
# !file "Speed+Dating+Data.csv"

'file' n'est pas reconnu en tant que commande interne
ou externe, un programme exï¿½cutable ou un fichier de commandes.

In [3]:
# with open('Speed+Dating+Data.csv') as f:
#     print(f)

<_io.TextIOWrapper name='Speed+Dating+Data.csv' mode='r' encoding='utf-8'>

In [13]:
df = pd.read_csv("Speed+Dating+Data.csv", encoding='windows-1252')  # dÃ©rivÃ© de encoding='latin-1'
df

,iid,id,gender,idg,condtn,wave,round,position,positin1,order,...,attr3_3,sinc3_3,intel3_3,fun3_3,amb3_3,attr5_3,sinc5_3,intel5_3,fun5_3,amb5_3
0,1,1.0,0,1,1,1,10,7,NaN,4,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
1,1,1.0,0,1,1,1,10,7,NaN,3,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
2,1,1.0,0,1,1,1,10,7,NaN,10,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
3,1,1.0,0,1,1,1,10,7,NaN,5,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
4,1,1.0,0,1,1,1,10,7,NaN,7,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8373,552,22.0,1,44,2,21,22,14,10.0,5,...,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0
8374,552,22.0,1,44,2,21,22,13,10.0,4,...,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0
8375,552,22.0,1,44,2,21,22,19,10.0,10,...,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0
8376,552,22.0,1,44,2,21,22,3,10.0,16,...,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0
8377,552,NaN,1,44,2,21,22,2,10.0,15,...,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8378 entries, 0 to 8377
Columns: 195 entries, iid to amb5_3
dtypes: float64(174), int64(13), object(8)
memory usage: 12.5+ MB

In [16]:
df.describe(include="all")

,iid,id,gender,idg,condtn,wave,round,position,positin1,order,...,attr3_3,sinc3_3,intel3_3,fun3_3,amb3_3,attr5_3,sinc5_3,intel5_3,fun5_3,amb5_3
count,8378.000000,8377.000000,8378.000000,8378.000000,8378.000000,8378.000000,8378.000000,8378.000000,6532.000000,8378.000000,...,3974.000000,3974.000000,3974.000000,3974.000000,3974.000000,2016.000000,2016.000000,2016.000000,2016.000000,2016.000000
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,283.675937,8.960248,0.500597,17.327166,1.828837,11.350919,16.872046,9.042731,9.295775,8.927668,...,7.240312,8.093357,8.388777,7.658782,7.391545,6.810020,7.615079,7.932540,7.155258,7.048611
std,158.583367,5.491329,0.500029,10.940735,0.376673,5.995903,4.358458,5.514939,5.650199,5.477009,...,1.576596,1.610309,1.459094,1.744670,1.961417,1.507341,1.504551,1.340868,1.672787,1.717988
min,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,5.000000,1.000000,1.000000,1.000000,...,2.000000,2.000000,3.000000,2.000000,1.000000,2.000000,2.000000,4.000000,1.000000,1.000000
25%,154.000000,4.000000,0.000000,8.000000,2.000000,7.000000,14.000000,4.000000,4.000000,4.000000,...,7.000000,7.000000,8.000000,7.000000,6.000000,6.000000,7.000000,7.000000,6.000000,6.000000
50%,281.000000,8.000000,1.000000,16.000000,2.000000,11.000000,18.000000,8.000000,9.000000,8.000000,...,7.000000,8.000000,8.000000,8.000000,8.000000,7.000000,8.000000,8.000000,7.000000,7.000000
75%,407.000000,13.000000,1.000000,26.000000,2.000000,15.000000,20.000000,13.000000,14.000000,13.000000,...,8.000000,9.000000,9.000000,9.000000,9.000000,8.000000,9.000000,9.000000,8.000000,8.000000
max,552.000000,22.000000,1.000000,44.000000,2.000000,21.000000,22.000000,22.000000,22.000000,22.000000,...,12.000000,12.000000,12.000000,12.000000,12.000000,10.000000,10.000000,10.000000,10.000000,10.000000

In [18]:
df.shape

(8378, 195)

In [21]:
for i, col in enumerate(df.columns):
    print(f"{i}: {col}")

0: iid
1: id
2: gender
3: idg
4: condtn
5: wave
6: round
7: position
8: positin1
9: order
10: partner
11: pid
12: match
13: int_corr
14: samerace
15: age_o
16: race_o
17: pf_o_att
18: pf_o_sin
19: pf_o_int
20: pf_o_fun
21: pf_o_amb
22: pf_o_sha
23: dec_o
24: attr_o
25: sinc_o
26: intel_o
27: fun_o
28: amb_o
29: shar_o
30: like_o
31: prob_o
32: met_o
33: age
34: field
35: field_cd
36: undergra
37: mn_sat
38: tuition
39: race
40: imprace
41: imprelig
42: from
43: zipcode
44: income
45: goal
46: date
47: go_out
48: career
49: career_c
50: sports
51: tvsports
52: exercise
53: dining
54: museums
55: art
56: hiking
57: gaming
58: clubbing
59: reading
60: tv
61: theater
62: movies
63: concerts
64: music
65: shopping
66: yoga
67: exphappy
68: expnum
69: attr1_1
70: sinc1_1
71: intel1_1
72: fun1_1
73: amb1_1
74: shar1_1
75: attr4_1
76: sinc4_1
77: intel4_1
78: fun4_1
79: amb4_1
80: shar4_1
81: attr2_1
82: sinc2_1
83: intel2_1
84: fun2_1
85: amb2_1
86: shar2_1
87: attr3_1
88: sinc3_1
89: fun3_1
90: intel3_1
91: amb3_1
92: attr5_1
93: sinc5_1
94: intel5_1
95: fun5_1
96: amb5_1
97: dec
98: attr
99: sinc
100: intel
101: fun
102: amb
103: shar
104: like
105: prob
106: met
107: match_es
108: attr1_s
109: sinc1_s
110: intel1_s
111: fun1_s
112: amb1_s
113: shar1_s
114: attr3_s
115: sinc3_s
116: intel3_s
117: fun3_s
118: amb3_s
119: satis_2
120: length
121: numdat_2
122: attr7_2
123: sinc7_2
124: intel7_2
125: fun7_2
126: amb7_2
127: shar7_2
128: attr1_2
129: sinc1_2
130: intel1_2
131: fun1_2
132: amb1_2
133: shar1_2
134: attr4_2
135: sinc4_2
136: intel4_2
137: fun4_2
138: amb4_2
139: shar4_2
140: attr2_2
141: sinc2_2
142: intel2_2
143: fun2_2
144: amb2_2
145: shar2_2
146: attr3_2
147: sinc3_2
148: intel3_2
149: fun3_2
150: amb3_2
151: attr5_2
152: sinc5_2
153: intel5_2
154: fun5_2
155: amb5_2
156: you_call
157: them_cal
158: date_3
159: numdat_3
160: num_in_3
161: attr1_3
162: sinc1_3
163: intel1_3
164: fun1_3
165: amb1_3
166: shar1_3
167: attr7_3
168: sinc7_3
169: intel7_3
170: fun7_3
171: amb7_3
172: shar7_3
173: attr4_3
174: sinc4_3
175: intel4_3
176: fun4_3
177: amb4_3
178: shar4_3
179: attr2_3
180: sinc2_3
181: intel2_3
182: fun2_3
183: amb2_3
184: shar2_3
185: attr3_3
186: sinc3_3
187: intel3_3
188: fun3_3
189: amb3_3
190: attr5_3
191: sinc5_3
192: intel5_3
193: fun5_3
194: amb5_3